<h1 class="descriptive-title">New Post</h1>
    <%= form_with model: @post, url: user_posts_path, method: :post,  local: true, scope: :post  do |f| %>
      <div class="form-card">

    <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  
  <div>
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>

<div>
  <%= f.submit "Add Post" %>
</div>
</div>
<% end %>